<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias = "Mark" type = "com.github.katsurakkkk.mybatis.model.Mark" />
		<typeAlias alias = "Item" type = "com.github.katsurakkkk.mybatis.model.Item" />
	</typeAliases>
</configuration>